apiVersion: v1
kind: Namespace
metadata:
  name: kubedl
---
apiVersion: v1
kind: Namespace
metadata:
  name: kubedl-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: kubedl-manager-role
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - configmaps/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - get
      - list
      - patch
  - apiGroups:
      - ""
    resources:
      - nodes
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - persistentvolumeclaims
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - persistentvolumes
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - pods
      - pods/log
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - pods/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - ""
    resources:
      - services
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - services/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - apps.kubedl.io
    resources:
      - crons
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - apps.kubedl.io
    resources:
      - crons/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - model.kubedl.io
    resources:
      - models
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - model.kubedl.io
    resources:
      - models/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - model.kubedl.io
    resources:
      - modelversions
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - model.kubedl.io
    resources:
      - modelversions/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - networking.k8s.io
    resources:
      - ingresses
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - notebook.kubedl.io
    resources:
      - notebooks
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - notebook.kubedl.io
    resources:
      - notebooks/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - scheduling.incubator.k8s.io
      - scheduling.sigs.dev
      - scheduling.volcano.sh
    resources:
      - podgroups
      - queues
    verbs:
      - '*'
  - apiGroups:
      - serving.kubedl.io
    resources:
      - inferences
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - serving.kubedl.io
    resources:
      - inferences/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - training.kubedl.io
    resources:
      - elasticdljobs
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - training.kubedl.io
    resources:
      - elasticdljobs/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - training.kubedl.io
    resources:
      - marsjobs
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - training.kubedl.io
    resources:
      - marsjobs/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - training.kubedl.io
    resources:
      - mpijobs
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - training.kubedl.io
    resources:
      - mpijobs/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - training.kubedl.io
    resources:
      - pytorchjobs
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - training.kubedl.io
    resources:
      - pytorchjobs/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - training.kubedl.io
    resources:
      - tfjobs
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - training.kubedl.io
    resources:
      - tfjobs/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - training.kubedl.io
    resources:
      - xdljobs
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - training.kubedl.io
    resources:
      - xdljobs/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - training.kubedl.io
    resources:
      - xgboostjobs
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - training.kubedl.io
    resources:
      - xgboostjobs/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - cache.kubedl.io
    resources:
      - cachebackends
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - cache.kubedl.io
    resources:
      - cachebackends/status
    verbs:
      - get
      - update
      - patch
  - apiGroups:
      - apps.kruise.io
    resources:
     - containerrecreaterequests
      - containerrecreaterequests/status
    verbs:
      - '*'
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  creationTimestamp: null
  name: kubedl-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kubedl-manager-role
subjects:
  - kind: ServiceAccount
    name: default
    namespace: kubedl-system
---
# permissions to do leader election.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kubedl-leader-election-role
rules:
  - apiGroups:
      - "coordination.k8s.io"
    resources:
      - leases
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - configmaps/status
    verbs:
      - get
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: leader-election-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: leader-election-role
subjects:
  - kind: ServiceAccount
    name: default
    namespace: kubedl-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubedl
  namespace: kubedl-system
  labels:
    app: kubedl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kubedl
  template:
    metadata:
      labels:
        app: kubedl
    spec:
      containers:
      - image: docker.io/kubedl/kubedl:easyscale-test
        imagePullPolicy: IfNotPresent
        name: kubedl-manager
        ports:
        - containerPort: 8080
          name: metrics
          protocol: TCP
        - containerPort: 9876
          name: webhook-server
          protocol: TCP
        resources:
          limits:
            cpu: 2048m
            memory: 2Gi
          requests:
            cpu: 1024m
            memory: 1Gi
      terminationGracePeriodSeconds: 10
